/* Restart da página */
html {
    margin: 0px;
    padding: 0px;
}

/* Sessão para a seleção dos itens */

.lista-receitas{
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.select-itens-craft {
    display: flex;
    flex-direction: column;  /* Coloca os elementos em coluna (um embaixo do outro) */
    align-items: center;     /* Centraliza horizontalmente os filhos */
    gap: 8px;                /* Espaço entre os elementos */
    padding: 15px;
    background: #C6C6C6;
    border: 2px solid;
    border-color: #DBDBDB #5B5B5B #5B5B5B #DBDBDB;
    width: fit-content;
}

.select-itens-craft .item-box {
    padding: 5px;
    background-color: #8B8B8B;
    border: 2px solid;
    border-color: #5B5B5B #DBDBDB #DBDBDB #5B5B5B;
    width: fit-content;
}

.item-box img {
    width: auto;
    height: 45px;
    image-rendering: pixelated;
}

.item-box button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.select-itens-craft input {
    width: 5ch;
}

/* Sessão para o resultado da seleção dos itens */
.lista-recursos {
    margin-top: 30px;
}

.resultado-itens-craft {
    padding: 15px;
    background: #C6C6C6;
    border: 2px solid;
    border-color: #DBDBDB #5B5B5B #5B5B5B #DBDBDB;
    min-height: 150px;
}

/* Fixação do footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #222; /* ou qualquer cor que quiser */
    color: white;
    text-align: center;
    padding: 10px 0;
}
